html {
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: var(--main-color-v1);
  color: var(--font-color);
  width: 100vw;
}

h1, h2, h3 {
  font-family: var(--font-family-titles);
}

p,span,a{
  font-family: var(--font-family-paragraphs);
  color: var(--font-color);
}

.courses_section {
  display: flex;
  width: 85vw;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  gap: 30px;
}

.courses_title {
  display: inline;
}

.courses_list {
  list-style: none;
  display: grid;
  gap: 30px;
  padding: 0;
}
