header {
  display: flex;
  background-color: transparent;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  height: var(--header-height-desktop);
}

.on_scroll {
  background-color: var(--secondary-color);
}
.on_scroll .header_li :hover {
  color: white
}
.heading_on_scroll {
  color: white;
}

button {
  background-color: transparent;
  border: none;
}

button :hover {
  color: var(--main-color-v1);
}

i {
  font-size: 1.2rem;
  color: var(--font-color);
}

.menu {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.kaltonak_icon {
  width: 40px;
  border-radius: 50%;
}

h1 {
  display: inline;
  color: var(--third-color);
}

.header_nav {
  width: 450px;
}

.header_ul {
  display: flex;
  width: 100%;
  padding: 0;
  list-style: none;
  justify-content: space-between;
} 

.header_li {
  text-decoration: none;
  overflow: hidden;
}

.header_anchor {
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  display: inline;
  overflow: hidden;
}


.underline {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: -100%;
  transition: all .5s;
}

.toggle_theme {
  display: flex;
  gap: 10px;
  background-color: transparent;
  border: none;
}

.toggle_theme :hover {
  color: var(--secondary-color);
}

@media (width <= 768px) {
  header {
    height: var(--header-height-mobile);
  }
  h1 {
    display: none;
  }
  .kaltonak_icon {
    width: 40px;
  }
  .header_nav {
    position: absolute;
    top: var(--header-height-mobile);
    left: -100%;
    width: 100vw;
    height: calc(100vh - var(--header-height-mobile));
  }

  .nav_active {
    left: 0;
  }

  .header_ul {
    width: 100%;
    height: 100%;
    background-color: var(--main-color-v1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .menu {
    display: inline;
  }
  .hamburguer_btn {
    width: 30px;
  }
}