.home {
  display: grid;
  height: calc(100vh - (var(--header-height-mobile) * 2));
  width: 100vw;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 2fr 1fr;
}

.home_image {
  background-image: url('https://i.ibb.co/BL5xcrZ/almena.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.shadow {
  filter: drop-shadow(-5px 5px 5px rgb(0, 0, 0, 0.2))
          drop-shadow(-15px 15px 15px rgb(0, 0, 0, 0.2));
  z-index: -1;
}


.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 50px;
}

.see_courses {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: white;
  width: fit-content;
  margin: auto;
}

.see_courses a {
  font-size: 16px;
  font-weight: bold;
}

@media (width <= 768px) {
  .home {
    margin-top: var(--header-height-mobile);
  }
  .about {
    padding: 0 30px;
    text-align: center;
  }
}

@media (width > 768px) {
  .home {
    margin-top: var(--header-height-desktop);
  }
  h1 {
    color: var(--secondary-color);
  }
  .about {
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 0;
    max-width: 500px;
  }
  .about h2 {
    text-align: center;
    font-size: 2rem;
  }
  .about h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .see_courses {
    margin: 0 auto;
    font-size: 1.5rem;
  }
}